{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>発熱外来検索</title>
    <link rel="stylesheet" href="{% static 'opendata/css/style.css' %}">
    {% block extraheader %}{% endblock %}
  </head>
  <body>
    <nav>
      <div>
        <a href="/">発熱外来検索</a>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">ログアウト</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">ログイン</a></li>
          <li><a href="{% url 'signup' %}">ユーザー登録</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
